---
---
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2')
  unicode-range: U+0000-00FF

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2')
  unicode-range: U+0000-00FF

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: 'Lato', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  width: 100vw
  overflow-x: hidden
  border-top: solid 10px #00b5e2
  min-height: 100vh

a
  color: #00b5e2
  &:hover
    text-decoration: none

.button
  border-radius: 100px
  background: #f29443
  padding: 10px 15px
  text-decoration: none
  color: white
  margin: 15px 0
  display: inline-block
  font-weight: bold

h1, h2, h3
  font-weight: 200

h1
  font-size: 3em
  line-height: 1.1

h2
  font-weight: bold
  color: #00b5e2
  font-size: 3.5em
  text-transform: uppercase

table
  border-collapse: collapse
  thead, td
    border: solid 1px black
    padding: 4px

header
  padding: 15px
  width: 100%
  display: flex
  justify-content: center
  text-align: center
  #logo
    width: 80px
  a
    text-decoration: none
  div
    position: relative
    color: black
  h3
    font-weight: 200
    margin-left: 4px
    text-transform: uppercase

article
  padding: 0 30px 10px
  margin: 0 auto
  max-width: 10in
  background: white
  line-height: 1.6
  overflow: hidden
  p
    margin: 5px 0

footer
  text-align: center
  color: #888
  padding: 10px 0 30px
  width: 100%
  a
    text-decoration: none
    color: inherit

@media (max-width: 800px)
  article
    padding: 20px
